RewriteEngine On

RewriteRule ^trang-chu.html$ ?mod=home
RewriteRule ^san-pham.html$ ?mod=product&action=main  
RewriteRule ^bai-viet.html$ ?mod=page 
RewriteRule ^gio-hang.html$ ?mod=cart 
RewriteRule ^thanh-toan.html$ ?mod=cart&action=checkout 
RewriteRule ^dang-nhap.html$ ?mod=log&controller=index&action=login 
RewriteRule ^xac-nhan-don-hang-thanh-cong.html$ ?mod=cart&action=success 
RewriteRule ^ket-qua-tim-kiem-([a-zA-Z0-9_-]+).html$ ?mod=product&action=seach_product&seach=$1
RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+).html$ ?mod=post&action=main&id=$2 
RewriteRule ^san-pham/([a-zA-Z0-9_-]+)-([0-9]+).html$ ?mod=product&action=product&cat_id=$2
RewriteRule ^san-pham/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+).html$ ?mod=product&action=product&cat_id=$3&name_product=$2
RewriteRule ^bai-viet/([a-zA-Z0-9_-]+)-([0-9]+).html$ ?mod=page&action=detail_blog&id=$2
RewriteRule ^san-pham/chi-tiet/([a-zA-Z0-9_-]+)/([0-9]+).html$ ?mod=product&action=detail&id=$2  
