/* <!-- variations --> */
#color_var {
    display: flex;
}

.color-radio {
    display: none;
}

.color-label {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
    opacity: 0.7;
}

.color-radio:checked+.color-label {
    border: 5px solid white;
    box-shadow: 0px 1px 2px rgba(1, 15, 28, 0.2);
    opacity: unset;
}

/* Phần đánh giá SAO */
.star-widget {
    margin-right: 92%;
    display: flex;
    direction: rtl;
}

.star-widget input {
    display: none;
}

.star-widget label {
    float: left;
    color: lightgrey;
    font-size: 20px;
}

.star-widget input:checked~label {
    color: gold;
}

.star-widget label::before {
    content: '★';
}

#list_comment {
    max-height: 500px;
    width: 100%;
    overflow-y: scroll;
}